[project]
	description = APM Planner Ground Control Station (Qt)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bjoern Kellermann (BjoernKellermann)
[access "refs/for/refs/*"]
	read = group user/Bjoern Kellermann (BjoernKellermann)
	push = group user/Bjoern Kellermann (BjoernKellermann)
	label-Code-Review = -2..+2 group user/Bjoern Kellermann (BjoernKellermann)
	label-Verified = -1..+1 group user/Bjoern Kellermann (BjoernKellermann)
	rebase = group user/Bjoern Kellermann (BjoernKellermann)
	removeReviewer = group user/Bjoern Kellermann (BjoernKellermann)
	submit = group user/Bjoern Kellermann (BjoernKellermann)
[access "refs/heads/*"]
	read = group user/Bjoern Kellermann (BjoernKellermann)
	create = group user/Bjoern Kellermann (BjoernKellermann)
	push = +force group user/Bjoern Kellermann (BjoernKellermann)
	pushMerge = group user/Bjoern Kellermann (BjoernKellermann)
[access "refs/tags/*"]
	push = +force group user/Bjoern Kellermann (BjoernKellermann)
	createTag = group user/Bjoern Kellermann (BjoernKellermann)
	createSignedTag = group user/Bjoern Kellermann (BjoernKellermann)
